.gradient1 {
  /* @apply hidden; */
  position: absolute;
  z-index: -55;
  top: 0%;
  left: -20%;
  width: 200%;
  height: 80%;
  background: radial-gradient(
    at 15% -20%,
    rgba(0, 174, 255, 0.45) 5%,
    rgba(103, 200, 255, 0.1) 35%,
    rgba(51, 88, 255, 0) 50%
  );
  animation: 4s infinite alternate gradAnimation1Mobile;

  @screen sm {
    top: 0%;
    left: -20%;
    width: 100%;
    height: 80%;
    background: radial-gradient(
      at 35% -20%,
      rgba(0, 174, 255, 0.45) 5%,
      rgba(103, 200, 255, 0.1) 35%,
      rgba(51, 88, 255, 0) 50%
    );
    animation: 4s infinite alternate gradAnimation1Desktop;
  }
}

@keyframes gradAnimation1Mobile {
  from {
    left: -20%;
    width: 200%;
    height: 80%;
  }
  to {
    left: 0%;
    width: 150%;
    height: 110%;
  }
}

@keyframes gradAnimation1Desktop {
  from {
    left: -20%;
    width: 100%;
    height: 80%;
  }
  to {
    left: 0%;
    width: 90%;
    height: 110%;
  }
}

.gradient2 {
  /* @apply hidden; */
  position: absolute;
  z-index: -57;
  top: 0%;
  left: 0%;
  width: 180%;
  height: 50%;
  background: radial-gradient(
    at 40% -35%,
    rgba(153, 231, 255, 0.35) 15%,
    rgba(103, 255, 228, 0.2) 35%,
    rgba(251, 255, 33, 0.04) 45%,
    rgba(251, 255, 33, 0) 57%
  );
  animation: 3s infinite alternate gradAnimation2Mobile;

  @screen sm {
    top: 0%;
    left: 0%;
    width: 120%;
    height: 50%;
    background: radial-gradient(
      at 40% -35%,
      rgba(153, 231, 255, 0.35) 15%,
      rgba(103, 255, 228, 0.2) 35%,
      rgba(251, 255, 33, 0.04) 45%,
      rgba(251, 255, 33, 0) 57%
    );
    animation: 3s infinite alternate gradAnimation2Desktop;
  }
}

@keyframes gradAnimation2Mobile {
  from {
    left: 0%;
    width: 180%;
    height: 50%;
  }
  to {
    left: -20%;
    width: 120%;
    height: 70%;
  }
}

@keyframes gradAnimation2Desktop {
  from {
    width: 120%;
    height: 50%;
  }
  to {
    width: 80%;
    height: 70%;
  }
}
